.Rproj.user*
.Rhistory*
.RData*
.Ruserdata
*.html
*_cache
*_files

data
results*
Previous
.Rproj.user
*-figure
submission

.git.kk
.idea
*.pyc
DIST

*ipynb_checkpoints

#Copied the folder in here but we don want it published yet
ratools
